.swiper {
  height: 212px;
  position: relative;
}
.am-flexbox {
  padding: 10px;

  img {
    width: 48px;
  }
}
.am-flexbox span {
  display: block;
}
.am-flexbox-item {
  text-align: center;
  font-size: 13px;
}
.groups {
  background-color: rgb(246, 246, 246);

  .groupsTitle {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    margin: 0;
  }
}

.dataItem {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    .title {
      font-size: 14px;
      font-weight: 700;
    }
  }
}
.am-grid .am-flexbox {
  padding: 0;
  background-color: rgb(246, 246, 246);

  .am-flexbox-item {
    background-color: #fff;
    margin-bottom: 10px;
  }
  .am-grid-item:first-child {
    margin-right: 10px;
  }
}

.newsItem {
  display: flex;

  .newsImg {
    padding-right: 10px;
    img {
      height: 100px;
    }
  }

  .newText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .newTitle {
      font-weight: 700;
    }
    .newsFrom {
      display: flex;
      justify-content: space-between;
    }
  }
}

.newsTitle {
  padding: 15px;
}

.news {
  padding-bottom: 35px;
}
