.searchHeader {
  position: static;
  margin-top: 0px;
}

.search {
  display: flex;
  background-color: rgba(224, 218, 218, 0.932);
}

.search :global(.icon-back) {
  line-height: 54px;
}

.searchHeader :global(.icon-map) {
  color: green !important;
}

.root {
  height: 100%;
}

.houseList {
  padding-top: 45px;
}

.backTop {
  position: fixed;
  bottom: 100px;
  right: 10px;
  color: pink;
  z-index: 999;
  width: 80px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
