html,
body {
  height: 100%;
  font-family: "Microsoft Yahei";
  color: #333;
  background-color: #fff;
}

* {
  box-sizing: border-box;
}

.iconfont {
  font-size: 20px;
}
.am-tab-bar-bar {
  position: fixed;
  bottom: 0;
}

.line {
  border-bottom: 1px solid #ccc;
  margin: 10px 0;
}

html,
body,
#root {
  height: 100%;
}

body,
h1,
h2,
h3,
h4,
ul,
li,
p,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.router-loading {
  padding-top: 100px;
  text-align: center;
}
